:root{
    --padding-left:40px;
    --margin-bottom:8px;
}
@font-face {
    font-family: oldNorse;
    src: url(./fonts/Norse-Bold.otf);
}
body{
    display: flex;
    margin:0;
    font-weight: bold;
}
/* this is styling fof image area of page */
.banner{
    height: 100vh;
    background-image: url(./images/photo-1585202900225-6d3ac20a6962.avif);
    background-size: cover;
    flex: 3;
    display: flex;
    flex-direction: column;
}
.logoBackground{
    background-color: rgba(0, 0, 0,0.5);
    margin-top: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding:15px 0px;
}
img{
    height: 8rem;
}
h1{
    margin: 0px;
    font-family: oldNorse;
}
.credit{
    margin-top: auto;
    color: white;
    text-align: center;
}
.credit a{
    color:white;
}
/* This is styling for main area of page */
.mainArea{
    flex:5;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 248);
}
.mainText{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.text{
    margin-bottom: var(--margin-bottom);
    padding-left: var(--padding-left);
    margin-top: auto;
    font-size: 1.5rem;
}
form{
    flex:1;
    padding: 30px;
    background-color: white;
    padding-left: var(--padding-left);
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.2);
}
.submit{
    flex:1;
    padding-left: var(--padding-left);
    padding-top: 35px;
}
label{
    display: block;
}
input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border:2px solid #E5E7EB;
    outline: none;
}
input:focus{
    border-color: blue;
}
input:invalid:focus {
    border: 2px solid rgb(255, 69, 100)
  }
.row{
    display: flex;
    flex-wrap: wrap;
}
.formBlock{
    padding-right: 70px;
    padding-top: 30px;
}
button{
    background-color:#596D48;
    color: white;
    font-size: 1.5rem;
    padding: 10px 40px;
    border-radius: 10px;
}
.logIn{
    color: #596D48;
    text-decoration: none;
    font-size: 1.2rem;
}